<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div id="body">
<h1 style="background-color: white">Temperature at your location:</h1>
<h2 style="background-color: white">{{ temp }}°C</h2>
<p style="background-color: white">Enter a city name</p>
<form action="locationTemp.html" method="POST" style="background-color: white">
    {% csrf_token %}
    <label>
        <input type="text" name="textfield" style="background-color: white">
    </label>
    <button id="button" type="submit">Get Temperature</button>
</form>
</div>
</body>
</html>